.sequence-display {
  padding: 20px;
  border: 1px solid #e0e0e0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: auto;

  &__title {
      font-size: 24px;
      margin-bottom: 16px;
  }
}
