@use '../../../styles/variables' as v;

.card-desk {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; 

  > div {  // Cible directement les éléments enfants 'div' de .card-desk
    flex: 1 1 400px;  
    max-width: calc(33.33% - 20px);  
  }

  // Pour les petits écrans 
  @media (max-width: 576px) {
    justify-content: center;

    > div {
      max-width: 100%;  
    }
  }

  // Pour les tablettes et les écrans moyens
  @media (min-width: 577px) and (max-width: 992px) {
    > div {
      max-width: calc(50% - 20px); 
    }
  }
}
