@use 'reset';
@use 'variables' as v;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.acquisition {
  background-color: v.$color-acquisition;
}

.collaboration {
  background-color: v.$color-collaboration;
}

.discussion {
  background-color: v.$color-discussion;
}

.investigation {
  background-color: v.$color-investigation;
}

.pratique {
  background-color: v.$color-pratique;
}

.production {
  background-color: v.$color-production;
}
