.create-sequence {
  display: flex; 
  flex-direction: column;
  height: 100vh; // Assurez-vous que votre composant occupe la hauteur complète de la vue.

  .content {
      flex: 1;
      display: flex;

      .card-desk {
          flex: 2; // 2/3 de l'espace disponible.
      }

      .sequence-display {
          flex: 1; // 1/3 de l'espace disponible.
      }
  }
}
